@charset "UTF-8";
/* CSS Document */

body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	color: #4A4A4A;
}

#logo {
	width: 50px;
}

#nav {
    overflow: hidden;
    background-color: #FFFFFF;
	/*position: fixed; /* Set the navbar to fixed position */
    /*top: 0; /* Position the navbar at the top of the page */
    /*width: 100%; /* Full width */
	list-style-type: none;
}

#nav li {
    float: left;
}

#nav a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#medium {
	width: 220px;
}

.column {
    float: left;
    width: 50%;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-weight: bold;
	font-size: 48px;
	text-align: center;
}

h2 {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-weight: bold;
	font-size: 36px;
	
}

h3 {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-weight: bold;
	font-size: 24px;
}

h4 {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-weight: bold;
	font-size: 20px;
}

small {
	font-size: 10px;
}

a:link { 
	color: #5E0231;
}
.medium {
}
